.overview {
  display: flex;
  border-bottom: 5px solid #406e8e;
  border-left: 3px solid #406e8e;
  border-bottom-left-radius: 50px;
}
.overview-cover img {
  /* border-radius: 20px; */
  width: 400px;
  margin-left: 20px;
}
.overview-title {
  color: #50a0db;
}

@media screen and (max-width: 350px) {
  .overview {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 351px) and (max-width: 970px) {
  .overview {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
