.courses-container {
  border-right: 3px solid #406e8e;
  border-bottom: 3px solid #406e8e;
  border-top: 5px linear-gradient(#406e8e, #000000);
  border-top-right-radius: 50px;
}
.course-title {
  color: #406e8e;
}
